<dx-popup [visible]="visible" [showCloseButton]="true" [showTitle]="true"
    [title]="szerkesztes.id ? 'Panasz szerkesztése' : 'Új panasz'" [width]="600" [height]="500" (onHiding)="close()">
    <div class="p-4">
        <dx-text-box [(value)]="szerkesztes.cim" placeholder="Cím" class="w-full"></dx-text-box>
        <dx-text-area [(value)]="szerkesztes.leiras" placeholder="Leírás" class="mt-2 w-full"></dx-text-area>
        <dx-date-box [(value)]="szerkesztes.bejelentesDatuma" class="mt-2 w-full"></dx-date-box>
        <dx-select-box [(value)]="szerkesztes.statusz" [items]="['Új', 'Folyamatban', 'Lezárt']" class="mt-2 w-full"
            placeholder="Válassz státuszt"></dx-select-box>
        <dx-select-box [items]="ugyfelek" [value]="szerkesztes.ugyfelId"
            (onValueChanged)="szerkesztes.ugyfelId = $event.value" [valueExpr]="'id'" [displayExpr]="'nev'"
            placeholder="Válassz ügyfelet" class="mt-2 w-full"></dx-select-box>

        <dx-button text="Mentés" (onClick)="save()" class="mt-4"></dx-button>
    </div>
</dx-popup>