# ---- Általános ----
node_modules/
dist/
.tmp/
.DS_Store
Thumbs.db

# ---- Angular ----
/**/node_modules/
/**/dist/
/**/.angular/cache/
/**/.angular/config.json
**/package-lock.json
**/yarn.lock
**/coverage/
**/.npmrc

# ---- .NET / C# ----
**/bin/
**/obj/
**/out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.cache
*.pdb
*.dbmdl
*.log
*.vs/

# ---- IDE specifikus ----
.vscode/
.idea/
*.sw?


# ---- Környezeti fájlok ----
*.env
*.secret.json
appsettings.*.json
secrets.json
/Keys
.DS_Store
.DS_Store
